body{
    margin: 0;
    padding: 0;
    font-family: Helvetica Neue, Helvetica;
    display: flex;
    align-items:center;
    height: 100%;
    height: 100vh;
    min-height: 500px;
    background: #fcfaf1; /*พื้นหลัง*/
    /*background-image: url('https://shorturl.at/kIZ05');*/
  }
  .header{
    margin: 10px auto;
    /*background: #fff;*/
    padding: 24px 20px 24px 20px;
  }
  #name-app{ /*ชื่อ2Doo*/
    color: #2b5b6c;
    font-family: 'Avenir', sans-serif;
    font-size: 60px;
    font-weight: 800;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(125, 121, 121, 0.5);
    animation: popIn 900ms 1 forwards;
    transform: translateY(20px);
    opacity: 0;
    /*padding: 1px 32px;*/
  }
  #name-fuction-app{ /*ca remi*/
    color: #8c9470;
    font-family: 'Avenir', sans-serif;
    font-size: 25px;
    font-weight: 600;
    text-shadow: 2px 2px 4px rgba(125, 121, 121, 0.3);
    text-align: center;
    animation: popIn 900ms 1 forwards;
    transform: translateY(0px);
    opacity: 0;
  }
  .calendar{ /*ปฏิทินหน้าเริ่มต้น*/
    color: #fff;
    margin: 10px auto;
    background: #2b5b6c;
    padding: 60px 40px 80px 40px;
    width: 95%;
    max-width: 600px;
    height: 325px;
    border-radius: 40px;
    box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.4);
    position: relative;
  }
  .calendar--day-view{ /*ปฏิธินหน้าป้อปอัพ*/
    position: absolute;
    border-radius: 40px;
    top: -2.5%;
    left: -2.5%;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,1);
    box-shadow: 8px 12px 8px rgba(2,2,2,0.3);
    z-index: 2;
    overflow: hidden;
    transform: scale(0.9) translate(30px,30px);
    display: none;
  }
  .day-view-content{
    color: #222;
    width: 100%;
    padding-top: 55px;
  }
  .day-highlight, .day-add-event{ /*หัวว่ามีอีเว้นมั้ย เพิ่มอีเว้นมั้ย*/
    padding: 8px 15px;
    margin: 12px 15px;
    border-radius: 20px;
    background: #e7e8e8;
    color: #222;
    font-size: 14px;
    font-weight: 600;
    font-family: "Avenir", sans-serif;
  }
  .row{ /*แก้งข้อความในหน้าป้อปอัพเพิ่มอีเว้น*/
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .row .qtr{
    width: 40%;
  }
  .row .half{
    width: 100%;
  }
  @media (min-width: 800px){ /*แต่งเว็บหน้าจอขั้นต่ำ800*/
    .row{
      flex-wrap: nowrap;
    }
    .row .half{
      width: 35%;
    }
    .row .qtr{
      width: 25%;
    }
  }
  
  .day-add-event{ /*หน้าต่างเพิ่มอีเว้น*/
    background: #2b5b6c;
    color: #fff;
    padding: 16px;
    display: none;
    transform: translateY(-15px);
    opacity: 0;
  }
  .day-add-event[data-active="true"]{
    display: block;
    animation: popIn 250ms 1 forwards;
  }
  .add-event-label{ /*ใส่ชื่ออีเว้น*/
    padding: 10px 0;
    font-size: 18px;
    font-family: 'Avenir', sans-serif;
    color: #fff;
    font-weight: 400;
    font-size: 12px;
    color: rgba(255,255,255,0.8);
  }
  .add-event-edit{ /*แก้ไขอีเว้นกาวๆ*/
    display: block;
    margin: 4px 0;
    max-width: 70%;
    border-bottom: 2px solid #fff;
    font-size: 18px;
    font-weight: 800;
    color: #fff;
  }
  .add-event-edit--long{
    max-width: 90%;
  }
  
  input.add-event-edit{
    border: none;
    border-bottom: 2px solid #fff;
    background: transparent;
    outline: none;
    font: inherit;
    color: #fff;
    font-size: 18px;
    font-weight: 800;
  }
  .add-event-edit--error, input.add-event-edit--error{ /*เตือนว่าลืมใส่ข้อมูล*/
    border-color: #ff5151;
    animation: shake 300ms 1 forwards;
  }
  @keyframes shake {
    20%, 60%{
      transform: translateX(4px);
    }
    40%, 80%{
      transform: translateX(-4px);
    }
  }
  input.add-event-edit::-webkit-input-placeholder { /*ตัวหนนังสือบางๆก่อนกรอกข้อมูล chrome*/
     color: #fff;
  }
  
  .event-btn{ /*แก้งปุ่ม cancel save ให้เรียงแนวตั้ง*/
    padding: 3px 8px;
    border: 3px solid #fff;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    width: 65px;
    margin: 5px 0;
    text-align: center;
  }
  .event-btn--save{ /*ปุ่ม save*/
    border-color: #fff;
    background: #74c500;
    color: #fff;
    border-color: transparent;
  }
  .event-btn--cancel{ /*ปุ่ม cancel*/
    background: #ff5151;
    color: #fff;
    border-color: transparent;
  }
  .event-btn--save:hover, .event-btn--cancel:hover{ /*ปุ่ม cancel save when hover*/
    box-shadow: 2px 4px 8px rgba(2,2,2,0.5);
  }

  .day-highlight .day-events-link{
    border-bottom: 2px solid #222;
    padding: 0;
    cursor: pointer;
  }
  #add-event{ /*ปุ่มเพิ่มอีเว้น*/
    color: #ff5151;
    border-color: #2b5b6c;
  }
  .day-view-exit{ /*ปุ่มปิด*/
    position: absolute;
    top: 24px;
    line-height: 1em;
    left: 22px;
    font-size: 22px;
    color: #252525;
    font-family: 'Avenir', sans-serif;
    font-weight: 800;
    cursor: pointer;
    opacity: 0;
    animation: popIn 200ms 1 forwards;
    text-transform: uppercase;
  }
  .day-view-date{ /*วันขวาหน้าป้อปอัพ*/
    position: absolute;
    top: 19px;
    right: 22px;
    text-align: right;
    font-size: 22px;
    font-family: 'Avenir', sans-serif;
    font-weight: 800;
    color: #ff5151;
    border-bottom: 2px solid #2b5b6c;
    cursor: pointer;
  }
  .day-inspiration-quote{
    position: absolute;
    margin-top: -40px;
    left: 10%;
    width: 80%;
    height: calc(100% - 110px);
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    font-size: 32px;
    font-weight: 800;
    letter-spacing: -1px;
    color: #ddd;
    line-height: 1.1em;
    font-family: 'Avenir', sans-serif;
    z-index: -1;
  }
  .day-event-list-ul{
    list-style: none;
    margin: auto;
    width: 95%;
    padding: 0;
    max-height: 300px;
    overflow: auto;
  }
  .day-event-list-ul li {
    padding: 10px;
    margin: 10px 0;
    position: relative;
  }
  .event-dates small{ /*คำว่า through*/
    font-size: 0.65em;
    color: #8c9470;
    text-shadow: 2px 2px 4px rgba(125, 121, 121, 0.1);
  }
  .event-dates{ /*เวลาเริ่ม จบ*/
    font-weight: 800;
    font-family: 'Avenir', sans-serif;
    color: #2b5b6c;
    font-size: 18px;
    text-transform: lowercase;
  }
  .event-delete{ /*ปุ่มลบหลังเพิ่มอีเว้น*/
    position: absolute;
    right: 10px;
    top: 0px;
    font-size: 12px;
    color: #ff5151;
    cursor: pointer;
    text-shadow: 2px 2px 4px rgba(125, 121, 121, 0.3);
  }
  .event-name{ /*ชื่ออีเว้นหลังเพิ่ม*/
    font-size: 19px;
    font-family: 'Avenir', sans-serif;
    color: #ff5151;
    padding:8px 15px;
    background: #f7f7f7;
    margin: 2px;
    display: block;
    text-transform: initial;
    border-radius: 20px;
    
  }
  .calendar--day-view-active{
    animation: popIn 200ms 1 forwards;
    visibility: visible;
    display: flex;
    transition: visibility 0ms;
  
  }
  .calendar--view{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    width: 100%;
  }
  .cview__month{ /*หัวเดือนหน้าเริ่มต้น*/
    width: 100%;
    text-align: center;
    font-weight: 800;
    font-size: 22px;
    font-family: 'Avenir', sans-serif;
    padding-bottom: 20px;
    color: #222;
    text-transform: uppercase;
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
    justify-content: space-around;
  }
  .cview__month-last,.cview__month-next{ /*เดือนก่อน เดือนหน้า*/
    width: 33.33333%;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    color: #fff;
    animation: popIn 900ms 1 forwards;
    transform: translateY(0px);
    opacity: 0;
  }
  .cview__month-current { /*เดือนนี้*/
    width: 33.33333%;
    text-align: center;
    font-size: 22px;
    cursor: pointer;
    color: #ffd653;
    cursor: default;
    animation: popIn 900ms 1 forwards;
    transform: translateY(20px);
    opacity: 0;
    position: relative;
  }
  .cview__month-last:hover,.cview__month-next:hover{
    color: #ff5151;
  }
  .cview__month-reset{ /*อนิเมชั่นเปลี่ยนเดือน*/
    animation: none;
  }
  .cview__month-activate{ /*อนิเมชั่นเปลี่ยนเดือน เดือนนี้*/
    animation: popIn 100ms 1 forwards;
  }
  .cview--spacer, .cview__header, .cview--date{
    width: 14.28571428571429%;
    max-width: 14.28571428571429%;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
    text-align: center;
    overflow: hidden;
    text-overflow: clip;
    font-size: 14px;
    font-weight: 900;
  }
  .cview__header{
    color: #c7cfac;
    text-shadow: 2px 2px 4px rgba(125, 121, 121, 0.2);
    animation: popIn 900ms 1 forwards;
    transform: translateY(0px);
    opacity: 0;
  }
  .cview--date{
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
  }
  .has-events::after{ /*มีอีเว้น มีจุด*/
    border-radius:100%;
    animation: popIn 200ms 1 forwards;
    background: #ff5151;
    transform: scale(0);
    content: '';
    display: block;
    position: absolute;
    width: 8px;
    height: 8px;
    top: 8px;
    left: 12px;
    
  }
  .cview--date:hover::before{
    background: rgba(255,255,255,0.2);
  }
  .cview--date.today{
    color: #ff5151;  
  }
  .cview--date.today::before{
    animation: popIn 200ms 1 forwards;
    background: rgba(255,255,255,0.2);
    transform: scale(0);
  }
  @keyframes popIn{
  
    100%{
      transform: scale(1);
      opacity: 1;
    }
  }
  .cview--date::before{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    transform: scale(0.8);
    z-index: 0;
  }
  .footer{
    width: 100%;
    bottom: 50px;
    left: 0;
    position: absolute;
    font-size: 14px;
    text-align: center;
  }
  .footer__link{
    cursor: pointer;
    padding: 2px 5px;
    border-bottom: 1px solid #ffd653;
    color: #ffd653;
  }